* {
  box-sizing: border-box;
}

.App {
  min-height: 100vh;
  font-family: 'IBM Plex Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Manrope', sans-serif;
  font-weight: 700;
}

.font-heading {
  font-family: 'Manrope', sans-serif;
}

.font-body {
  font-family: 'IBM Plex Sans', sans-serif;
}